fastapi
uvicorn
httpx
pandas
numpy
scikit-learn
rapidfuzz
fuzzywuzzy
python-dateutil
pydantic
python-dotenv
pytest
requests
matplotlib
dedupe
asyncio
swagger-ui-py
plotly
pandas_profiling
gunicorn
Unidecode>=1.3.0